# Ignore README and LICENSE files
README.md
LICENSE.txt

# Ignore dependency and build folders
dist/
node_modules/
src-tauri/
media/

# Ignore local metadata and configuration files
.git/
.DS_Store
.vscode/
.github/
.env