"use strict";
window.SERVER_URL="${SERVER_URL}" || undefined;
window.HIDE_SERVER="${HIDE_SERVER}" === "true";
window.APP_USER="${APP_USER}" || undefined;
window.APP_PASSWORD="${APP_PASSWORD}" || undefined;
window.APP_AUTH_TYPE="${APP_AUTH_TYPE}" || "token";