"use strict";
window.SERVER_URL="${SERVER_URL}" || undefined;
window.HIDE_SERVER="${HIDE_SERVER}" === "true";
window.APP_USER="${APP_USER}" || undefined;
window.APP_PASSWORD="${APP_PASSWORD}" || undefined;
window.APP_AUTH_TYPE="${APP_AUTH_TYPE}" || "token";
window.HIDE_RADIOS_SECTION="${HIDE_RADIOS_SECTION}" === "true";
window.SERVER_TYPE="${SERVER_TYPE}" || undefined;
window.APP_THEME="${APP_THEME}" || undefined;
window.APP_HIDE_THEMES="${APP_HIDE_THEMES}" === "true";
window.IMAGE_CACHE_ENABLED="${IMAGE_CACHE_ENABLED}" === "true";
window.DISABLE_IMAGE_CACHE_TOGGLE="${DISABLE_IMAGE_CACHE_TOGGLE}" === "true";
window.DISABLE_DOWNLOADS="${DISABLE_DOWNLOADS}" === "true";
window.DISABLE_LRCLIB="${DISABLE_LRCLIB}" === "true";