@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-100-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-100-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-100-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-100-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-200-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-200-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-200-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-200-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-300-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-300-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-300-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-300-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-400-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-400-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-400-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-400-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-500-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-500-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-500-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-500-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-600-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-600-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-600-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-600-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-700-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-700-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-700-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-700-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-800-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-800-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-800-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-800-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-900-normal.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-900-normal.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src:
    url("/fonts/poppins-latin-ext-900-italic.woff2") format("woff2"),
    url("/fonts/poppins-latin-ext-900-italic.woff") format("woff");
}
