@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 224 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 10% 15%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 8.1%;
    --foreground: 210 20% 95%;
    --card: 224 71.4% 8.1%;
    --card-foreground: 210 20% 95%;
    --popover: 224 71.4% 8.1%;
    --popover-foreground: 210 20% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 210 20% 95%;
    --secondary: 215 27.9% 19.9%;
    --secondary-foreground: 210 20% 95%;
    --muted: 215 27.9% 14.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 19.9%;
    --accent-foreground: 210 20% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 95%;
    --border: 215 27.9% 19.9%;
    --input: 215 27.9% 19.9%;
    --ring: 142.1 70.6% 45.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground subpixel-antialiased;
  }
}

#root {
  @apply select-none cursor-default;
}

div,
p,
span,
small,
h1,
h2,
h3,
h4,
h5 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

#main-scroll-area #scroll-viewport > div {
  display: flex !important;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#artist-biography > p > a,
.link {
  @apply text-primary hover:underline;
}

.player-button-active {
  @apply after:content-['•'] after:block after:absolute after:-bottom-1 after:text-primary;
}

:root.light #equalizer-image {
  filter: invert(1);
}

/* Native Scroll Bar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 7px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}