@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 224 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 10% 15%;
    --primary: 161 94% 30%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 92.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 161 94% 30%;
    --radius: 0.5rem;
    --main-background: hsl(210, 40%, 97%);
  }

  .dark {
    --background: 224 71.4% 8.1%;
    --foreground: 210 20% 95%;
    --card: 224 71.4% 8.1%;
    --card-foreground: 210 20% 95%;
    --popover: 224 71.4% 8.1%;
    --popover-foreground: 210 20% 95%;
    --primary: 160 84% 39%;
    --primary-foreground: 210 20% 95%;
    --secondary: 215 27.9% 19.9%;
    --secondary-foreground: 210 20% 95%;
    --muted: 215 27.9% 14.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 19.9%;
    --accent-foreground: 210 20% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 95%;
    --border: 215 27.9% 19.9%;
    --input: 215 27.9% 19.9%;
    --ring: 160 84% 39%;
    --main-background: hsl(222, 47%, 11%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground subpixel-antialiased;
  }
  :root {
    --header-height: 44px;
    --sidebar-width: 280px;
    --mini-sidebar-width: 100px;
    --player-height: 96px;

    --shadow-header-height: 80px;
    --shadow-header-distance: calc(var(--shadow-header-height) + 1.5rem);

    --toastify-toast-top: calc(var(--header-height) + 0.5rem);
  }
}

.Toastify__progress-bar--wrp {
  height: 2px !important;
}

#root {
  @apply select-none cursor-default;
}

div,
p,
span,
small,
h1,
h2,
h3,
h4,
h5 {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input,
textarea {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

#main-scroll-area #scroll-viewport > div {
  display: flex !important;
}

#playlists #scroll-viewport > div {
  display: flex !important;
  flex-direction: column !important;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#artist-biography > p > a,
.link {
  @apply text-primary hover:underline;
}

.player-button-active {
  @apply after:content-['•'] after:block after:absolute after:-bottom-1 after:text-primary;
}

:root.light #equalizer-image {
  filter: invert(1);
}

.bg-skeleton {
  @apply bg-foreground/20 dark:bg-accent;
}

.required {
  @apply after:content-['*'] after:text-destructive after:ml-1;
}

.queue-list-drawer {
  @apply w-screen;
  @apply h-[calc(100vh-var(--player-height))];
  @apply mb-[--player-height] pb-[--player-height];
  @apply z-30;
  @apply bg-[--main-background];
}

.h-app-screen {
  @apply h-[calc(100vh-var(--player-height)-var(--header-height))];
}

#main-command {
  @apply [&_[cmdk-group-heading]]:px-2;
  @apply [&_[cmdk-group-heading]]:font-medium;
  @apply [&_[cmdk-group-heading]]:text-muted-foreground;
  @apply [&_[cmdk-group]:not([hidden])_~[cmdk-group]]:pt-0;
  @apply [&_[cmdk-group]]:px-2;
  @apply [&_[cmdk-input-wrapper]_svg]:h-5;
  @apply [&_[cmdk-input-wrapper]_svg]:w-5;
  @apply [&_[cmdk-input]]:h-12;
  @apply [&_[cmdk-item]]:px-2;
  @apply [&_[cmdk-item]]:py-3;
  @apply [&_[cmdk-item]_svg]:h-4;
  @apply [&_[cmdk-item]_svg]:w-4;
}

.yarl__container {
  @apply !bg-black/70;
}

.yarl__slide_image {
  @apply shadow-2xl -shadow-spread-2 shadow-y-[3px] rounded-lg;
}

/* Native Scroll Bar */
::-webkit-scrollbar {
  width: 7px;
  height: 0px;
}
::-webkit-scrollbar-button {
  width: 7px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: hsl(var(--border));
  border-radius: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 7px;
}
::-webkit-scrollbar-corner {
  background: transparent;
}